import tkinter as tk
from tkinter import ttk, messagebox, simpledialog
from docx import Document
from docx.shared import Inches
from docx.enum.text import WD_PARAGRAPH_ALIGNMENT, WD_BREAK
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
